body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
.body-class {
  background-color: #fff4af;
  transition: all 0.5s ease;
  font-size: 24px;
  p {
    font-size: 18px;
  }
  header {
    .header-main {
      .category {
        font-size: 18px;
      }
    }
  }
}

.main-block {
  padding-top: 34px;
  .goToSection {
    font-size: 16px;
    max-width: 250px;
    font-family: "ProximaNova";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.313;
    text-align: center;
    background-image: url(../image/btn-bg.png);
    background-color: #51a3f5;
    color: #fff;
    width: 100%;
    padding: 1rem 0;
    display: block;
    border-radius: 7px;
    box-shadow: 0px 5px 0px #235d97;
    transition: all 0.15s;
    &:hover {
      color: #212529;
      text-decoration: none;
    }
  }
  .sign-up {
    padding: 1.9rem;
    box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.65);
    .sign-title {
      img {
        width: 39px;
      }
    }
    p {
      margin-top: 1rem;
      color: #7c7c81;
    }
    form {
      input {
        height: 45px;
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 12px;
        border: none;
        background-color: #f8fbff;
        box-shadow: inset 0px 2px 10px 0px rgba(233, 237, 245, 0.88);
      }
      .datepicker-here {
        background-image: url(../image/calendar.png);
        background-repeat: no-repeat;
        background-position: 95%;
        background-size: auto;
      }
      .doctor-name {
        select {
          -moz-appearance: none;
          -webkit-appearance: none;
          border-radius: 6px;
          box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.65);
          border: none;
          height: 45px;
          cursor: pointer;
          background-image: url(../image/top-arrow.png);
          background-repeat: no-repeat;
          background-position-x: 95%;
          background-position-y: center;
        }
      }
    }

    .calendar {
      margin-top: 12px;
      form {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        img {
          position: absolute;
          left: 85%;
        }
      }
      .date {
        span {
          margin-right: 10px;
        }
      }
    }
  }
}

h1 {
  font-family: roboto-black !important;
  font-weight: 700;
  color: darkblue;
}
h2 {
  font-family: roboto-black !important;
  font-weight: 600;
}
p {
  font-family: roboto-black !important;
}
.branches {
  padding-top: 1rem;
  .title {
    margin-bottom: 0 !important;
    h1 {
      margin: 0 !important;
    }
  }
  .branches-tab {
    padding-top: 30px;
    .nav {
      width: fit-content;
      margin: 0 auto;
      border-bottom: 1px solid silver;
      .nav-item {
        width: fit-content;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        padding: 0 2rem 1rem;
        height: 5rem;
        position: relative;
        max-width: 268px;
        .nav-link {
          background-color: transparent;
          border-radius: 0;
          color: #000;
          white-space: pre-line;
          height: 100%;
          display: flex;
          align-items: center;
          padding: 0 1rem 0.5rem;
        }
        .active {
          &::before {
            content: "";
            position: absolute;
            bottom: -1px;
            width: 100%;
            height: 5px;
            background-color: #ff8795;
            left: 0;
          }
        }
      }
    }
    .owl-stage {
      margin: 0 auto;
    }
  }
}
.internal-pages,
.internal {
  min-height: calc(100vh - 85px);
}
.internal-pages h1 {
  text-align: center;
  font-size: 36px;
  color: #25252d;
  font-weight: bold;
  line-height: 1.167;
  width: 100%;
}
.pagination__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  .backward {
    border-width: 2px;
    border-color: rgb(239, 244, 248);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    min-width: 101px;
    min-height: 36px;
    transition: all 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 1.667;
    font-weight: 600;
    color: rgb(33, 33, 33);
    &.disabled {
      cursor: no-drop;
    }
    &:hover {
      background-color: rgb(31, 151, 243);
      color: rgb(255, 255, 255);
      border-color: rgb(31, 151, 243);
    }
  }
  .item {
    font-size: 20px;
    line-height: 1.25;
    font-weight: 600;
    color: rgb(33, 33, 33);
    border-width: 2px;
    border-color: rgb(239, 244, 248);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    min-width: 46px;
    min-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
    &.active {
      background-color: rgb(31, 151, 243);
      color: rgb(255, 255, 255);
      border-color: rgb(31, 151, 243);
    }
    &:hover {
      background-color: rgb(31, 151, 243);
      color: rgb(255, 255, 255);
      border-color: rgb(31, 151, 243);
    }
  }
  .forward {
    border-width: 2px;
    border-color: rgb(239, 244, 248);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    min-width: 101px;
    min-height: 36px;
    transition: all 0.25s ease;
    font-size: 15px;
    line-height: 1.667;
    font-weight: 600;
    color: rgb(33, 33, 33);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: rgb(31, 151, 243);
      color: rgb(255, 255, 255);
      border-color: rgb(31, 151, 243);
    }
    &.disabled {
      cursor: no-drop;
    }
  }
}
.internal {
  h1 {
    font-size: 36px;
    color: #25252d;
    font-weight: bold;
    line-height: 1.167;
    text-align: left;
  }
  p {
    font-size: 18px;
    color: #25252d;
    line-height: 1.667;
    text-align: left;
  }
  h2 {
    font-size: 20px;
    color: #25252d;
    line-height: 1.667;
    text-align: left;
    font-weight: 600;
  }
  ol {
    font-size: 18px;
    line-height: 1.389;
    font-weight: 600;
    color: rgb(155, 155, 155);
    li {
      padding-left: 1rem;
    }
  }
}
// news-Insitute
.news-Insitute {
  padding-bottom: 30px;
  .news-intitute-content {
    padding-bottom: 20px;
    a {
      color: inherit;
      text-decoration: none;
      box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.48);
      width: 23%;
      position: relative;
      text-align: center;
      border: none;
      border-radius: 12px;
      z-index: 10;
      background-color: #fff;
      margin: 0 0.5rem;
    }
    .card {
      border: none;
      img {
        width: auto;
        margin: 0 auto;
      }
    }
  }
}
.news {
  .col-xl-3 {
    margin-top: 15px;
  }
}
// Why-are-we
.why-are-we {
  padding: 10px 0 0;
  background-position: 110%;
  .title {
    margin-bottom: 0 !important;
  }
  .why-are-we-content {
    padding-top: 1rem;
    overflow: hidden;
    .card {
      height: 97%;
      position: relative;
      border: none;
      padding: 30px 0 0;
      border-radius: 12px;
      z-index: 10;
      background-color: #fff;
      box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.48);
      p {
        font-size: 14px;
        &:first-child {
          text-align: center;
        }
      }
      img {
        width: 130px;
        margin: 0 auto 2rem;
      }
      .card-body {
        padding: 0 1rem;
        // word-break: break-all;
      }
      &::before {
        content: "";
        position: absolute;
        width: 90%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: -1;
        border-radius: 12px;
        transform: translate(5%, -5%);
      }
      &::after {
        content: "";
        position: absolute;
        width: 80%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: -2;
        border-radius: 12px;
        transform: translate(11%, -1%);
      }
    }
  }
}

// Why-are-we-End

// Social
.social {
  padding: 40px 0 40px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -50%;
  position: relative;
  .social-text {
    padding: 0.5rem 0;
  }
  .social-progress {
    display: flex;
    height: 50px;
    align-items: center;
    margin-bottom: 2rem;
    img {
      max-width: 50px;
    }
    .social-account {
      width: fit-content;
      background-color: rgb(248, 251, 255);
      box-shadow: inset 0px 2px 10px 0px rgba(233, 237, 245, 0.88);
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 3rem 0 1.5rem;
      margin: 0 2rem;
      border-radius: 2rem;
      background-image: url(../image/right-arrow-social.png);
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 93%;
      & + p {
        display: none;
      }
    }
    p {
      margin: 0;
    }
  }
  .social-bg {
    width: 450px;
    height: 520px;
    background-image: url(../image/social-bg.png);
    position: absolute;
    right: 0;
    background-size: cover;
    background-position-x: inherit;
    img {
      position: absolute;
      right: 14px;
      width: 293px;
      bottom: 3px;
      height: 450px;
    }
  }
}

// Social-End

// map
.map {
  position: relative;
  iframe {
    max-height: 500px;
  }
  .map-content {
    width: 385px;
    position: absolute;
    left: 10%;
    top: 10%;
    background-color: #fff;
    padding: 2rem 2rem 2.5rem;
    border-radius: 1rem;
    box-shadow: 0px 5px 37.24px 11.76px rgba(215, 215, 217, 0.35);
    b {
      margin-bottom: 1rem;
    }
    p {
      margin: 0;
      font-size: 15px;
    }
    .title {
      width: 50%;
      margin-bottom: 1.5rem;
      text-align: left;
    }
    .adres {
      .adres-name {
        background-image: url(../image/adress.png);
        width: fit-content;
        padding: 0.5rem 2.5rem;
        background-size: contain;
        color: #fff;
        background-position-y: center;
        background-repeat: no-repeat;
        background-position-x: center;
        margin-bottom: 1rem;
        p {
          font-size: 14px;
        }
      }
      img {
        margin-bottom: 1rem;
      }
    }
  }
}

// map-end
.footer {
  font-size: 12px;
  font-weight: 500;
  padding: 2rem 0;
  background-color: #f5f7fa;
  p {
    margin-bottom: 0;
  }
  a {
    font-size: 14px;
    font-style: italic;
    color: #000;
  }
}

.help-block {
  display: none;
}

/* базовый контейнер уведомлений */
.message {
  background-size: 40px 40px;
  background-image: -moz-linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.05) 50%,
    rgba(255, 255, 255, 0.05) 75%,
    transparent 75%,
    transparent
  );
  background-image: -webkit-linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.05) 50%,
    rgba(255, 255, 255, 0.05) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.05) 50%,
    rgba(255, 255, 255, 0.05) 75%,
    transparent 75%,
    transparent
  );
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  font: 16px "Open Sans";
  width: 30%;
  margin: 20px auto;
  padding: 15px;
  -moz-animation: bg-animate 5s linear infinite;
  -webkit-animation: bg-animate 5s linear infinite;
  -ms-animation: bg-animate 5s linear infinite;
  animation: bg-animate 5s linear infinite;
}

/* заголовок сообщения */
.message span {
  font-weight: 600;
}

/* кнопка закрытия */
.message #close {
  float: right;
  color: inherit;
  text-decoration: none;
}

.message#error {
  background-color: tomato;
  border-left: 7px #dc3d21 solid;
  color: white;
  position: absolute;
  top: 12%;
  right: 2%;
  z-index: 99;
}

/* предупреждение */
.message#warning {
  background-color: #eaaf51;
  border-left: 7px #df8b00 solid;
  color: #6b6d31;
  position: absolute;
  top: 12%;
  right: 2%;
  z-index: 99;
}

/* инфо-блок */
.message#info {
  background-color: #4ea5cd;
  border-left: 7px #3b8eb5 solid;
  color: #beecfc;
  position: absolute;
  top: 12%;
  right: 2%;
  z-index: 99;
}
/* успешное событие */
.message#success {
  background-color: #4ea5cd;
  border-left: 7px #3b8eb5 solid;
  color: #beecfc;
  position: absolute;
  top: 12%;
  right: 2%;
  z-index: 99;
}
.card-img-top {
  max-height: 161px;
}
.branches .branches-tab {
  padding-top: 0;
}
header .header-main .logo-text {
  color: darkblue;
}
.title p {
  color: darkblue;
}
.internal-pages h1 {
  color: darkblue;
}
.internal-pages .pagination li a {
  color: inherit;
  text-decoration: none;
}
.internal h1 {
  color: darkblue;
}
.internal-pages h1 {
  color: darkblue;
}
/*Floating Back-To-Top Button*/
.top__btn {
  position: fixed;
  bottom: 0;
  float: right;
  right: 0;
  max-width: 60px;
  max-height: 60px;
  height: 100%;
  width: 100%;
  z-index: 10000;
  padding: 0;
  border: none;
  background-color: unset;
  opacity: 0;
  transition: all 0.4s ease;
  &.show {
    opacity: 1;
  }
  &:hover {
    background-color: unset;
  }
  &:before {
    content: url("../image/right-arrow.png");
    transform: rotate(-90deg);
    position: absolute;
    top: 38%;
    left: 38%;
  }
  a {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    &:hover {
      color: #fff;
    }
  }
}
.smi-block {
  margin-bottom: 2rem;
}
.mobile-toggle {
  display: none;
}

.map {
  h1 {
    font-size: 48px;
    font-family: "YesevaOne";
    color: rgb(37, 37, 45);
    line-height: 1.146;
    text-align: left;
  }
  .map-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &:nth-child(n + 2) {
      margin-top: 50px;
    }
    a {
      font-size: 21px;
      font-family: "Roboto";
      color: rgb(37, 37, 45);
      font-weight: bold;
      line-height: 1.286;
      text-align: left;
      border-bottom: 1px solid rgba(37, 37, 45, 0.129);
      text-decoration: none;
      &:nth-child(n + 2) {
        margin-top: 15px;
      }
    }

    h2 {
      font-size: 21px;
      font-family: "Roboto";
      color: rgb(37, 37, 45);
      font-weight: bold;
      line-height: 1.429;
      text-align: left;
    }
    ul {
      padding-left: 0;
      list-style: none;
      li {
        position: relative;
        padding-left: 2rem;
        &:before {
          content: url(../image/red-arrow.png);
          position: absolute;
          top: 25%;
          left: 0;
        }
        a {
          font-size: 16px;
          font-family: "Roboto";
          color: rgb(37, 37, 45);
          line-height: 2.813;
          text-align: left;
          border-bottom: 1px solid rgba(37, 37, 45, 0.129);
          padding-bottom: 4px;
          text-decoration: none;
          &:nth-child(n + 2) {
            margin-top: unset;
          }
        }
      }
    }
  }

  .return {
    display: flex;
    border-radius: 10px;
    background-color: rgb(248, 251, 255);
    justify-content: space-evenly;
    max-width: 194px;
    a {
      font-size: 14px;
      font-family: "Roboto";
      color: rgb(22, 50, 113);
      line-height: 2.143;
      text-align: left;
      position: relative;
      &:after {
        content: url(../image/return-right-arrow.png);
        position: absolute;
        left: 117%;
      }
    }
    span {
      font-size: 14px;
      font-family: "Roboto";
      color: rgb(37, 37, 45);
      line-height: 2.143;
      text-align: left;
    }
  }
}

.internal-pages form[name="reviews and suggestions"] {
  p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    font-family: "Roboto";
    span {
      color: rgb(37, 37, 45);
      font-weight: bold;
      line-height: 1.313;
      text-align: left;
      padding-left: 15px;
    }
    sup {
      color: red;
    }
    input {
      border-radius: 7px;
      background-color: rgb(249, 250, 252);
      box-shadow: inset 0px 2px 10px 0px rgba(233, 237, 245, 0.88);
      min-width: 512px;
      min-height: 65px;
      font-size: 24px;
      font-family: "Roboto";
      color: rgba(37, 37, 45, 0.502);
      line-height: 0.875;
      text-align: left;
      border: none;
      padding-left: 20px;
    }
    textarea {
      border-radius: 7px;
      background-color: rgb(249, 250, 252);
      box-shadow: inset 0px 2px 10px 0px rgba(233, 237, 245, 0.88);
      min-width: 512px;
      height: 230px;
      font-size: 24px;
      font-family: "Roboto";
      color: rgba(37, 37, 45, 0.502);
      line-height: 0.875;
      text-align: left;
      border: none;
      padding-left: 20px;
      padding-top: 20px;
    }
  }
  input[type="submit"] {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    background-image: url(../image/btn-bg.png);
    background-color: #51a3f5;
    color: #fff;
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0px 5px 0px #235d97;
    border-radius: 7px;
    font-weight: 600;
    font-family: ProximaNova;
    max-width: 289px;

    &:hover {
      color: #212529;
      text-decoration: none;
    }
  }
}

.internal-pages .review__wrapper {
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.78);
  width: 100%;
  min-height: 147px;
  padding-left: 27px;
  padding-top: 10px;
  padding-right: 27px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  .initials {
    align-items: center;
    min-width: 335px;
  }
  .initials p:first-child {
    border-radius: 50%;
    background-color: rgb(246, 240, 231);
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(210, 200, 184);
    font-weight: bold;
    line-height: 1.167;
    text-align: left;
  }
  .initials p:last-child {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(22, 50, 113);
    font-weight: bold;
    line-height: 1.313;
    text-align: left;
  }
  .initials + p {
    font-size: 16px;
    font-family: "Roboto";
    color: rgba(37, 37, 45, 0.502);
    line-height: 1.313;
    text-align: left;
  }
  .separator {
    background-color: rgb(227, 227, 227);
    opacity: 0.651;
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
    & + p {
      font-size: 18px;
      font-family: "Roboto";
      color: rgb(37, 37, 45);
      line-height: 2;
      text-align: left;
    }
  }
}

.internal-pages {
  .contacts__wrapper {
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.78);
    min-height: 174px;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  .operating__mide {
    border-radius: 12px;
    background-color: rgb(248, 251, 255);
    min-height: 111px;
    padding: 20px;
  }
}

.internal-pages {
  .plus__wrapper {
    padding-left: 0;
    list-style: none;
    li {
      position: relative;
      padding-left: 2rem;
      font-size: 16px;
      font-family: "Roboto";
      color: rgb(37, 37, 45);
      line-height: 1.5;
      text-align: left;
      margin-top: 25px;
      &:first-child {
        margin-top: unset;
      }
      &:before {
        content: url(../image/plus.png);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.internal-pages {
  .mission {
    display: flex;
    align-items: center;
    &:before {
      content: url("../image/mission.png");
      margin-right: 30px;
    }
  }
  .videnie {
    display: flex;
    align-items: center;
    &:before {
      content: url("../image/videnie.png");
      margin-right: 30px;
    }
  }
  .cely {
    display: flex;
    align-items: center;
    &:before {
      content: url("../image/cely.png");
      margin-right: 30px;
    }
  }
  .separatorDiv {
    background-color: rgb(227, 227, 227);
    width: 100%;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .ulLis {
    position: relative;
    padding-left: 40px;
    &:before {
      content: url(../image/plus.png);
      position: absolute;
      left: 0;
    }
  }
}
.search-link {
  margin-top: 20px;
  ul {
    width: fit-content;
    background-color: #f8fafe;
    padding: 0.5rem 0.7rem;
    border-radius: 10px;
    li {
      list-style-type: none;
      margin: 0 0.5rem;
      a {
        color: #000;
        &:hover {
          text-decoration: none;
          color: #1d3e86;
        }
      }
    }
  }
}
.search {
  padding-bottom: 5rem;
  .search-header {
    border-bottom: 2px solid #e3e3e3;
    padding-bottom: 1.5rem;
    .search-title {
      display: flex;
      align-items: baseline;
      margin-bottom: 1.5rem;
      h2 {
        color: #d9dee6;
        margin-left: 1rem;
        font-size: 40px;
      }
    }
    .filter-search {
      display: flex;
      align-items: baseline;
      p {
        font-size: 18px;
      }
      .dropdown {
        .dropdown-toggle {
          font-size: 14px;
          font-family: sans-serif;
          font-weight: bold;
          line-height: 2.143;
          text-align: left;
          text-transform: uppercase;
          background-color: transparent;
          border: unset;
          color: #62a2e4;
          &:after {
            border: none;
            content: url("../image/bottom-arrow.png");
            vertical-align: unset;
          }
          &:focus {
            box-shadow: unset;
            outline: none;
          }
          &:active {
            box-shadow: unset;
            outline: none;
            background-color: transparent;
            border: unset;
            color: rgb(37, 37, 45);
          }
          &:active:focus {
            box-shadow: unset;
            outline: none;
            background-color: transparent;
            border: unset;
          }
        }
      }
    }
  }
  .search-content {
    padding: 2rem 0 3rem;
    border-bottom: 2px solid #e3e3e3;
    .search-title {
      margin-bottom: 2rem;
    }
    .card {
      box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.48);
      border: none;
      img {
        width: 100%;
      }
      .card-text {
        padding: 1rem;
      }
    }
  }
  .link-head {
    padding-top: 2rem;
    .link-content {
      margin-top: 1.5rem;
      span {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        a {
          display: block;
          border-bottom: 1px solid silver;
          color: #000;
          &:hover {
            text-decoration: none;
            color: #1d3e86;
          }
        }
        img {
          margin-right: 1rem;
        }
      }
    }
  }
}
.img-for {
  opacity: 0;
}

// Reviews
.silver-text {
  color: #a8a8ab;
}
.reviews {
  padding-bottom: 5rem;
  .reviews-title {
    margin-bottom: 50px;
  }
  .reviews-block {
    padding: 1.5rem 2rem;
    box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.78);
    margin-bottom: 1.5rem;
    .reviews-block-title {
      display: flex;
      justify-content: space-between;
      p {
        margin: 0;
      }
      .reviews-name {
        display: flex;
        align-items: center;
        p {
          margin-bottom: 0;
        }
        span {
          background-color: #f8fbff;
          border-radius: 50%;
          width: 35px;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 0.5rem;
          font-weight: bold;
          color: #c5d3e6;
          border: none;
        }
      }
    }
    span {
      border-bottom: 1px solid silver;
    }
  }
  .refresh {
    background-color: #fff;
    border-radius: 12px;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    border: none;
    box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.78);
    font-weight: bold;
    margin: 0 auto;
    transition: all 0.5s ease;
    img {
      margin-right: 2rem;
    }
    &:hover {
      transform: scale(1.1);
    }
    &:focus {
      outline: none;
    }
  }
}
.reviews-form {
  padding-bottom: 4rem;
  .reviews-title {
    margin-bottom: 2rem;
  }
  label {
    font-weight: bold;
    display: block;
    position: relative;
    width: fit-content;
    &::before {
      content: "*";
      color: red;
      position: absolute;
      right: -0.5rem;
    }
  }
  input {
    height: 45px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 12px;
    border: none;
    background-color: #f8fbff;
    box-shadow: inset 0px 2px 10px 0px rgba(233, 237, 245, 0.88);
  }
  textarea {
    width: 100%;
    height: 200px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 12px;
    border: none;
    background-color: #f8fbff;
    box-shadow: inset 0px 2px 10px 0px rgba(233, 237, 245, 0.88);
  }
  button {
    background-image: url(../image/btn-bg.png);
    background-color: #51a3f5;
    color: #fff;
    padding: 1rem 4rem;
    box-shadow: 0px 5px 0px #235d97;
    border-radius: 7px;
    font-weight: 600;
    font-family: ProximaNova;
    border: none;
  }
}

// DOCTOR-LIST

.doctor-list {
  padding-top: 2rem;
  padding-bottom: 4rem;
  .link-page {
    display: flex;
    align-items: baseline;
    width: fit-content;
    padding: 0.5rem 1rem;
    background-color: #f8fafe;
    border-radius: 5px;
    a {
      color: #40578b;
      font-size: 14px;
      &:last-child {
        color: #000;
      }
    }
    span {
      img {
        margin: 0 0.5rem;
        height: 12px;
      }
    }
  }
  .doc-form {
    padding-top: 1rem;
    form {
      display: flex;
      align-items: center;
      .form-group{
        margin: 0 0.5rem 0 1rem;
        margin-bottom: 0 !important;
      }
      input {
        height: 2.8rem;
        width: 300px;
        background-color: #f8fbff;
        box-shadow: inset 0px 2px 10px 0px rgba(233, 237, 245, 0.88);
        padding: 0.5rem;
        margin: 0 0.5rem 0 1rem;
        border: none;
        border-radius: 0.5rem;
      }
    }
    p {
      margin: 0;
    }
    button {
      width: fit-content;
      padding: 0.7rem 3rem;
    }
  }
  .doc-content {
    margin-top: 40px;
    .card-link {
      color: #000;
      &:hover{
        .card-title{
          color: #1474d6;
        }
        .card{
          box-shadow: 0px 35px 44.59px 4.41px rgba(204, 208, 213, 0.46);
        }
      }
      .card {
        transition: .3s ease;
        border: none;
        box-shadow: 0px 8px 44.59px 4.41px rgba(204, 208, 213, 0.25);
        padding: 5px;
        min-height: 465px;
        margin-bottom: 30px;
        border-radius: 12px;
        img {
          max-height: 216px;
        }
        .card-body {
          padding: 2rem .5rem 0;
          .card-title {
            white-space: pre-line;
          }
          .card-text {
            font-size: 14px;
          }
        }
      }
    }
  }
}
