header {
  .header-logo {
    img {
      width: 130px;
    }
  }
  box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.78);
  .header-content {
    border-bottom: 1px solid rgb(227, 227, 227);
    align-items: center;
    font-size: 14px;
    height: 60px;
    display: flex;
    .lang {
      select {
        -webkit-appearance: none;
        width: 130px;
        border: none;
        position: relative;
        background-image: url(../image/top-arrow.png);
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: 90%;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
      .langMenu {
        display: flex;
        align-items: flex-start;
        .choose_lang {
          cursor: pointer;
          position: relative;
          &:after {
            position: absolute;
            content: url(../image/top-arrow.png);
            left: 120%;
            top: 0;
          }
        }
      }
      img {
        width: 29px;
        margin-right: 13px;
      }
    }
    .header-nav {
      ul {
        li {
          list-style-type: none;
          margin-left: 1rem;
          img {
            margin-right: 8px;
          }
          a {
            color: #000;
          }
        }
      }
    }
  }
  .header-main {
    padding: 25px 0;
    padding-bottom: 15px;
    .logo-text {
      font-size: 16px;
      font-family: ProximaNova;
      width: 65%;
      color: #aaaaaa;
      p {
        margin-bottom: 0;
      }
    }
    .header-search {
      form {
        position: relative;
        height: 3.8rem;
        display: flex;
        align-items: center;
        input {
          height: 100%;
          width: 100%;
          border: none;
          border-radius: 10px;
          background-color: #f8fbff;
          padding: 1rem 3.5rem 1rem 1.5rem;
          &:focus {
            outline: none;
          }
        }
        img {
          position: absolute;
          left: 86%;
          cursor: pointer;
        }
      }
    }
    .call {
      h5{
        margin-bottom: 0;
        img{
          margin-right: .5rem;
        }
      }
      .loc {
        cursor: pointer;
        img {
          margin: 0 0.5rem;
        }
      }
    }
    .category{
      padding-top: 25px;
      font-size: 14px;
      font-family: ProximaNova;
      select{
        width: fit-content;
      }
      .dropdown-menu {
        width: 100%;
        min-width: 350px;
        transform: translate3d(5px, 35px, 0px)!important;
      }
      .dropdown-toggle {
          font-size: 13px;
          font-family: "ProximaNova";
          color: rgb(37, 37, 45);
          font-weight: bold;
          line-height: 2.143;
          text-align: left;
          text-transform: uppercase;
          background-color: transparent;
          border: unset;
          &:after {
            border: none;
            content: url("../image/loc-arrow.png");
            vertical-align: unset;
          }
          &:focus {
            box-shadow: unset;
            outline: none;
          }
          &:active {
            box-shadow: unset;
            outline: none;
            background-color: transparent;
            border: unset;
            color: rgb(37, 37, 45);
          }
          &:active:focus {
            box-shadow: unset;
            outline: none;
            background-color: transparent;
            border: unset;
          }
      }
      .dropdown-item {
        white-space: normal;
      }
      a:not(.dropdown-item){
        font-size: 13px;
          font-family: "ProximaNova" !important;
          color: rgb(37, 37, 45);
          font-weight: bold;
          line-height: 2.143;
          text-align: left;
          text-transform: uppercase;
          background-color: transparent;
          border: unset;
          padding: .375rem .75rem;
          text-decoration: none;
      }
    }
  }
}
