.btn-nsb{
    background-image: url(../image/btn-bg.png);
    background-color: #51a3f5;
    color: #fff;
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0px 5px 0px #235d97;
    border-radius: 7px;
    font-weight: 600;
    font-family: ProximaNova;
}
.news-Insitute{
    .btn-nsb{
        width: auto;
        padding: 1rem 65px;
    }
}