.main-slider {
  position: relative;
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 9;
    cursor: pointer;
  }
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 9;
    cursor: pointer;
  }
}
.main-slider-2 {
  margin-top: 1rem;
}
.branches-slider {
  .owl-item {
    .item {
      border-radius: 10px;
      box-shadow: 0px 0px 38.76px 12.24px rgba(242, 242, 243, 0.48);
      img {
        // width: 107px;
      }
      a {
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
      .slider-text {
        font-size: 21px;
        position: absolute;
        bottom: 5%;
        background-color: #fff;
        width: 100%;
        left: 0;
        padding: 0 1rem;
        min-height: 5rem;
        display: flex;
        align-items: center;
        background-image: url("../image/right-arrow-block.png");
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: center;
        p {
          margin: 0;
          font-size: 17px;
          font-family: "ProximaNova";
          color: rgb(37, 37, 45);
          line-height: 1.429;
          text-align: left;
        }
      }
    }
  }
  .owl-nav {
    position: absolute;
    top: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    [class*="owl-"]:focus {
      border: none;
      outline: none;
    }
    [class*="owl-"]:hover {
      background: unset;
      color: #fff;
      text-decoration: none;
    }
    .owl-next {
      &:before {
        content: url("../image/right-arrow.png");
      }
      span {
        opacity: 0;
      }
    }
    .owl-prev {
      &:before {
        content: url("../image/left-arrow.png");
      }
      span {
        opacity: 0;
      }
    }
  }
}

.brand-slider-main {
  position: relative;
  padding: 0 0 50px;
  border-bottom: 6px solid #fff;
  border-image: url(../image/border-slider.png) 30 round round;
  .brand-slider {
    width: 80%;
    margin: 0 auto;
    img {
      width: auto !important;
      margin: 0 auto;
    }
  }
  .brand-prev {
    position: absolute;
    left: -33px;
    top: 23%;
  }
  .brand-next {
    position: absolute;
    right: -33px;
    top: 23%;
  }
}
.slick-slide img {
  // width: 100%;
  margin: 0 auto;
}
.slick-slide iframe {
  width: 100%;
  height: 115px;
}
.slick-slide iframe img {
  margin: 0 !important;
}
.slider-for {
  /* the slides */
  .slick-slide img {
    max-height: 432px;
  }
  .slick-slide {
    h1 {
      font-size: 36px;
      color: rgb(37, 37, 45);
      font-weight: bold;
      line-height: 1.167;
      text-align: left;
    }
    p {
      font-size: 18px;

      color: rgb(37, 37, 45);
      line-height: 1.667;
      text-align: left;
    }
  }
  .slick-prev {
    width: 43px;
    height: 43px;
    z-index: 100;
    left: 0;
    &::before {
      content: url("../image/left-arrow.png");
    }
  }
  .slick-next {
    width: 43px;
    height: 43px;
    z-index: 100;
    right: 0;
    &::before {
      content: url("../image/right-arrow.png");
    }
  }
}
.slider-nav {
  opacity: 0;
  .slick-slide {
    img {
      max-height: 115px;
      max-width: 150px;
    }
  }
  .slick-slide {
    margin: 15px 5px;
  }
  .slick-list {
    margin: 0 -5px;
  }
}
