@media only screen and (max-width: 576px) {
  .header-nav {
    display: none;
  }
  .header-mobile {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid silver;
      li {
        list-style-type: none;
        margin-bottom: 1rem;
        &:first-child {
          display: none;
        }
      }
    }
  }
  .header-search {
    margin: 1rem 0;
  }
  .mobile-toggle {
    position: absolute;
    right: 1rem;
    z-index: 99;
    background-color: silver !important;
    display: block !important;
  }
  .header-main {
    .col-xl-4.p-0 {
      padding: 0 15px !important;
    }
  }
  .map {
    .map-content {
      width: auto !important;
      position: static !important;
    }
  }
  .branches {
    .branches-tab {
      .nav {
        .nav-item {
          margin: 0 auto;
        }
      }
    }
  }
  .branches-slider {
    .owl-nav {
      top: 40% !important;
    }
  }
  .why-are-we {
    background-image: none !important;
    background-color: #f8fbff;
    .why-are-we-content {
      .card {
        max-width: inherit !important;
        width: 70% !important;
        margin: 1rem auto !important;
      }
    }
  }
  .news-intitute-content {
    .col-xl-3 {
      margin-bottom: 2rem;
    }
  }
  .social {
    padding: 1rem 0 !important;
    background-position-y: inherit !important;
    background-position-x: -40% !important;
    .social-progress {
      .social-account {
        margin: 0 0 0 0.5rem !important;
        padding: 0.5rem !important;
        background-image: none !important;
      }
      img {
        width: 40px !important;
      }
    }
  }
  .social-bg {
    width: 100% !important;
    position: relative !important;
    background-size: contain !important;
    img {
      position: absolute !important;
      right: 12px !important;
      width: 65% !important;
      bottom: 14% !important;
      height: 76% !important;
    }
  }
}
